<mat-list class="container-list">
  <mat-list-item class="item-list" *ngFor="let article of articles; let idx=index"
                 (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)"
                 [class.item-list-important]="idx%4 == 0">
    <div mat-card-avatar class="item-img" [class.item-img-important]="idx%4 == 0">
      <img src="{{article.picture}}">
    </div>
    <p class="item-date" [class.item-date-important]="idx%4 == 0" mat-line> <span></span><span>{{article.date}}</span></p>
    <h3 class="item-title" [class.item-title-important]="idx%4 == 0" mat-line> {{article.title}} </h3>
    <p class="item-summary" [class.item-summary-important]="idx%4 == 0" mat-line>{{article.summary}}</p>
  </mat-list-item>
</mat-list>

<div class="customFooter">
    <mat-grid-list cols="5" rowHeight="1.9:1">
        <mat-grid-tile>
            <button mat-button>
                <i class="material-icons md-light" (click)="goHome()">home</i>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>
                <i class="material-icons md-light" (click)="goLanguage()">language</i>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>
                <i class="material-icons md-light" (click)="goBookmarks()">favorite_border</i>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>
                <i class="material-icons md-light" (click)="goAutorenew()">autorenew</i>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button [matMenuTriggerFor]="menu">
                <i class="material-icons md-light">perm_identity</i>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="pickDataUser1()">User 1</button>
                <button mat-menu-item (click)="pickDataUser2()">User 2</button>
                <button mat-menu-item (click)="pickDataUser3()">User 3</button>
            </mat-menu>
        </mat-grid-tile>
    </mat-grid-list>
</div>

