<mat-list class="container-list">
  <mat-list-item class="item-list" *ngFor="let article of articles; let idx=index"
                 (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)"
                 [class.visible]="article.visible" [class.hidden]="!article.visible">
    <div mat-card-avatar class="item-img"></div>
    <h3 matLine> {{article.title}} </h3>
    <p matLine>
      <span> {{article.date}} </span>
      <span class="demo-2"> -- {{article.summary}} </span>
    </p>
  </mat-list-item>
</mat-list>



