<section class="container">
    <div class="mainCat">
        <app-imager src="{{currentImage}}" srcMd="{{currentImage}}"srcSd="{{currentImage}}"></app-imager>
    </div>
    <div class="catWrapper">
        <div class="catItem" style="background-color: green">Mobile</div>
        <div class="catItem" style="background-color: yellow">Manga/Anim</div>
        <div class="catItem" style="background-color: purple">IVG</div>
        <div class="catItem" style="background-color: grey">Favoris</div>
    </div>
    <div class="customFooter">Footer</div>
</section>

