
.container {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    display: flex;
    flex-direction: column;

}

.mainCat {
   // background-color: red;
    height: 34%;
    border-bottom: 5px solid #49138B;
    position: relative;
}

.catWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.catItem {
    width: 50vw;
    height: 30vh;
    position: relative;
}


.customFooter {
    position: fixed;
    bottom: 0;
    height: 5.2vh;
    background-color: #FFAD00;
    width: 100%;
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
